.left__menu--write {
    overflow: scroll;
  }
  
.interview__add {
  margin-left: 40px;
}

.interview__content--write {
  margin-top: 20px;
  height: calc(100% - 47px);
}
.interview__content--write::-webkit-scrollbar {
  display: block;
}

.interview__add__button {
  padding: 1px 15px 2px 15px;
  margin-right: 4px;
}

.write__tools {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 30px;
  right: 20px;
}


.write__tools button {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 0;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.tools__close {
  background-image: url("/src/assets/icons/cross.png");
  width: 16px !important;
  height: 16px !important;
  margin-left: 2px;
}

.tools__publish {
  background-image: url("/src/assets/icons/export.png");
}

.tools__delete {
  background-image: url("/src/assets/icons/trash.png");
}

.write__form {
  width: calc(100% - 30px);
}

.write__form__input, .write__form__input:focus, .write__form__input:active {
  margin-top: 8px;
  font-size: 1.2em;
  width: 100%;
  /* border-bottom: 0.2px solid lightgray !important; */
}

.write__form__input--title, .write__form__input--title:-internal-autofill-selected, .write__form__input--title:focus, .write__form__input--title:active {
  font-family: 'Source-SemiBold' !important;
}


.write__form__input--royalty {
  margin-left: 25px;
  margin-top: -30px !important;
  padding-top: 0;
}


.write__categories {
  position: relative;
  margin-top: 40px;
  margin-bottom: 15px;
}

.write__category {
  position: relative;
  margin-bottom: 5px;
}

.right input, .right input:-internal-autofill-selected, .right input:-webkit-autofill, .right input:-webkit-autofill:focus, .right input:-webkit-autofill:hover, .right input:active, .right input:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0px #2b363e inset!important;
  color: white !important;
}

.interview__context, .interview__context:-internal-autofill-selected, .interview__context:-webkit-autofill, .interview__context:-webkit-autofill:focus, .interview__context:-webkit-autofill:hover, .interview__context:active, .interview__context:focus{
  font-family: 'Source-LightItalic' !important;
}

.question__content, .question__content:-internal-autofill-selected, .question__content:-webkit-autofill, .question__content:-webkit-autofill:focus, .question__content:-webkit-autofill:hover, .question__content:active, .question__content:focus {
  font-family: 'Source-SemiBold' !important;
  margin-left: 25px;
  width: calc(100% - 50px);
}

.answer__content, .answer__content:-internal-autofill-selected, .answer__content:-webkit-autofill, .answer__content:-webkit-autofill:focus, .answer__content:-webkit-autofill:hover, .answer__content:active, .answer__content:focus {
  font-family: 'Source-Light' !important;
  margin-left: 25px;
  width: calc(100% - 50px);
}