/* MODE LISTE */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1em;
}
/* RECHERCHE */

// .search__form__date {
//   margin-top: 13px;
//   width: 100%;
// }

// .date__timeline {
//   height: 30px;
//   position: relative;
//   margin-bottom: 15px;
// }

// .timeline__line {
//   position: absolute;
//   top: 3px;
//   height: 2px;
//   border-bottom: 1.5px solid white;
//   width: calc(90% - 3px);
// }

// .timeline__cursor {
//   position: absolute;
//   width: 25px;
//   height: 30px;
//   cursor: grab;
// }

// .timeline__cursor__dot {
//   margin-left: 12px;
//   width: 3px;
//   border-radius: 1px;
//   height: 10px;
//   background-color: white;
// }

// .timeline__cursor__date {
//   margin-top: 5px;
// }

// .timeline__cursor--end {
// }

// .search__form__button--submit {
//   padding: 2px 14px;
//   margin-left: calc(50% - 76px);
//   bottom: 25px;
//   position: absolute;
//   font-size: 1.2em;
// }

/* .search__form__button--royalty {
  width: 12px;
  height: 12px;
  padding: 0;
} */

// .search__form--overflow {
//   width: 100%;
//   height: calc(100% - 50px);
//   overflow-y: scroll;
// }

// .search__form__date h4 {
//   font-size: 1.2em;
// }

// .search__form {
//   height:90%;
// }

/* MODE LISTE */

.result-interview__meta::after, .result-interview__tag::after {
  content: "\2022";
  font-family: "Source-Light";
  padding-left: 10px;
  font-size: 1em;
}

.result-interview__meta:last-child::after, .result-interview__tag:last-child::after {
  content: "";
  padding-left: 0;
} 

.research__results--list a {
  padding: 12px;
  height: fit-content;
  width: 100%;
  display: block;
}

.result-interview {
  width: 100%;
  height: fit-content;
  border: solid 1px white;
  border-radius: 7px;
  padding: 12px;
  margin-bottom: 15px;
}

.result-interview__meta, .result-interview__tag {
  display: inline-block;
  margin-bottom: 0;
  padding: 0 5px;  
  font-size: 1.1em;
  line-height: 1.05em;
}

.result-interview__tag {
  font-family: 'Source-SemiBold';
}

.research__tools {
  height: 40px;
  width: 100%;
}

.research__results {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
  padding-top: 10px;
}

.interview__meta {
  height: 100%;
}

/* TOP BARRE */

.research__tools__title {
  font-size: 1.5em;
  font-family: 'Source-SemiBold';
  margin-top: 2px;
}

.research__tools__save--button, .research__tools__save--button:focus {
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/bookmark.png');;
  background-size: contain;
  border: none;
  margin-left: 8px;
  border-radius: 0;
  margin-top: 6px;
}

.research__tools * {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.research__tools__save, .research__tools__categories, .research__tools__save--title  {
  border-radius: 0;
  margin-left: 15px;
}

.research__tools__save--title, .research__tools__save--title:focus {
  background-color: transparent !important;
  border-bottom: solid 1px white !important;
  font-size: 1.2em !important;
  height: auto;
  width: 40%;
  margin-top: -3px;
}

.research__tools__modes {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.research__tools__mode--list {
  background-image: url('../../assets/icons/list.png');
  background-size: 14px;
}

.research__tools__mode--timeline {
  background-image: url('../../assets/icons/clock.png');
  background-size: contain;
}

.research__tools__mode--map {
  background-image: url('../../assets/icons/planet.png');
  background-size: contain;
}

.research__tools__mode {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
}

.research__tools__mode:hover {
  background-color: rgba(255,255,255,0.1);
}

.research__tools__categories {
  margin-top: -10px;
}

.research__tools__categories label{
  margin-left: 15px;
  padding-top: 8px;
}

.result-timeline__map {
  height: calc(100% - 150px);
  width: 92%;
  position: relative;
  overflow-x: visible;
  left: 4%;
}

.result-timeline__map__line {
  height: 1px;
  border: solid 1px white;
  position: absolute;
  bottom: 35px;
  width: 100%;
}

.result-timeline__map__group {
  position: absolute;
  width: 35px;
  height: 100%;
  margin-left: -15px;
}

.map__group__date {
  position:absolute;
  bottom: 0;
}

.map__group__cursor {
  position: absolute;
  bottom: 30px;
  height: 15px;
  width: 2px;
  margin-left: 13px;
  border-radius: 2px;
  background-color: white;
}

.map__group__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 4px;
  vertical-align: bottom;
  cursor: pointer;
}

.map__group__dot--selected {
  /* background-color: rgba(255,255,255,0.8); */
  background-color: white;
}

.map__group__dot-list {
  position: absolute;
  bottom: 55px;
  margin-left: 3px;
  height: fit-content;
}

.result-timeline__map__line__beginning {
  position: absolute;
  left: 0;
  text-align: left;
  bottom:0;
}

.result-timeline__map__line__end {
  position: absolute;
  right: 15px;
  text-align: right;
  bottom:0;
}

.result-timeline__map__line__beginning .map__group__cursor {
  margin-left:0;
}

.result-timeline__map__line__end .map__group__date {
  margin-left:-14px;
}

.result-timeline__interview {
  position: absolute;
  bottom: 5%;
  width: calc(100% - 30px);
}


/* TEMPORAIRE */

.research__results {
  height: 90vh;
}

.search__form__input, .search__form__input:-internal-autofill-selected, .search__form__input:focus, .search__form__input:active {
  margin-top: 8px;
  font-size: 1.2em;
  width: 100%;
  /* border-bottom: 0.2px solid lightgray !important; */
}

.search__form__input--royalty {
  margin-left: 25px;
}

.result-interview__meta::after, .result-interview__tag::after {
    content: "\2022";
    font-family: "Source-Light";
    padding-left: 10px;
    font-size: 1em;
  }
  
  .result-interview__meta:last-child::after, .result-interview__tag:last-child::after {
    content: "";
    padding-left: 0;
  } 
  
  .result-interview {
    width: 100%;
    height: fit-content;
    border: solid 1px white;
    border-radius: 7px;
    padding: 12px;
    margin-bottom: 15px;
  }
  
  .result-interview__meta, .result-interview__tag {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 5px;  
    font-size: 1.1em;
    line-height: 1.05em;
  }
  
  .result-interview__tag {
    font-family: 'Source-SemiBold';
  }
  
  .research__tools {
    height: 40px;
    width: 100%;
  }
  
  .research__results {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    padding-top: 10px;
  }
  
  // .interview__meta {
  //   height: 100%;
  // }