// TODO : Put right CSS
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1em;
}

.presentation__content {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  line-height: 1.5rem;
}

.presentation__content--modes {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-top: -3px;
  margin-bottom: 20px;
}

.right__presentation {
  padding-top: 15px;
  font-size: 1.2em;
  height: 100%;
  overflow-y: scroll;
}
.right__presentation::-webkit-scrollbar {
  display: block;
}

.presentation__title {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.presentation__img {
  width: 35%;
  display: inline-block;
  margin: 0 15px 15px 0;
}