/* darkgrey : 2b363e */

/* BASE */

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2b363e;
  font-size: 15px;
  color: white;
  font-family: 'Source-Light';
}

::-webkit-scrollbar {
  display: none;
}

// Invalid

.invalid {
  border-bottom-color: rgba(255,80,76,0.7) !important;
}

button:disabled {
  opacity: 0.4;
}

button:disabled:hover {
  opacity: 1;
  color: rgba(255,80,76,0.7);
  border-color: rgba(255,80,76,0.7);
}

button:disabled:hover ~ .mandatory:placeholder-shown {
  border-bottom-color: rgba(255,80,76,0.7) !important;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

/* Pour contrer bootstrap */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1.2em;
}

button, button:focus, button:active {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 20px;
  color: white;
  outline: none;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
  /* background-color: rgba(255,255,255,0.2); */
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] label {
  display: block;
}

input[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: block;
  content: "";
  float: left;
  margin-top: 6px;
  margin-right: 5px;
  margin-left: -25px;
}

/* MAIN */

.main {
  position: absolute;
  width: 100%;
  height: calc(100% - 45px);
  margin: 0;
}


/* LEFT */

.left {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

.left__menu {
  /* height: calc(96% + 20px); */
  height: 96%;
  width: 100%;
  border: solid 1px white;
  border-radius: 20px;
  padding: 20px 20px 0 20px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #2b363e;
}

.left__footer {
  position: absolute;
  bottom: 0;
  height: 34px;
}

.left__footer a {
  opacity: 0.4;
}

.left__footer a:hover {
  opacity: 1;
}

.left__footer span { 
  margin: 0 4px;
  opacity: 0.4;
  cursor: default;
}

.left__menu h2 {
  font-family: 'Source-SemiBold';
  font-size: 1.3em;
}


/* RIGHT */

.right {
  height: 100%;
  background-color: rgba(255,255,255,0.1);
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 15px;
}

/* FONTS */

@font-face {
  font-family: 'AGBHF';
  src: url('../../assets/fonts/AGBHF.ttf');
}

@font-face {
  font-family: 'AGBM';
  src: url('../../assets/fonts/AGBM.ttf');
}

@font-face {
  font-family: 'Source-Light';
  src: url('../../assets/fonts/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'Source-LightItalic';
  src: url('../../assets/fonts/SourceSansPro-LightItalic.ttf');
}

@font-face {
  font-family: 'Source-Regular';
  src: url('../../assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Source-Bold';
  src: url('../../assets/fonts/SourceSansPro-Semibold.otf');
}

@font-face {
  font-family: 'Source-SemiBold';
  src: url('../../assets/fonts/SourceSansPro-Regular.ttf');
}


@media screen and (max-width: 575px) { 

  .nav-item--bar-hidden {
    display: block;
  }
  }
  
  @media screen and (max-width: 768px) {
  
  body {
    background-color: #414a52;
    overflow-y: scroll;
  }
  
  header {
    position: fixed;
    z-index: 4;
  }
  
  .left {
    top: 30px;
    height: 200vh;
  }
  
  .left__menu {
    height: 85vh;
    margin-top: 20px;
  }
  
  .left__menu--top {
    z-index: 2;
  }
  
  .left__menu--bottom {
    z-index: 1;
    background-color: #414a52;
  }
  
  .left__menu--top--closed {
    border-radius: 0 0 20px 20px;
    margin-top: 30px;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 3;
    padding: 20px;
  }
  
  .left__menu--bottom--closed {
    border-radius: 0 0 20px 20px;
    margin-top: -15px;
    background-color: #414a52;
    z-index: 2;
    position: fixed;
    width: calc(100% - 40px);
    padding: 20px;
  }
  
  /* .left__menu--bottom {
    margin-top: 15px;
    z-index: 1;
  } */
  
  .left__menu {
    overflow-y: scroll;
  }
  
  .right {
    background-color: transparent;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
  }
  
  .left__menu--bottom {
    height:calc(90vh - 90px);
  }
  
  .left__footer {
    display: none;
  }
  
  /* BOUTONS CACHÉS SUR LA VERSION MOBILE */
  
  .library__new-interview {
    display: none;
  }
  
  .research__tools__modes {
    display: none;
  }
  
  }

.write__form__button:checked + label::before, .search__form__button--royalty:checked + label::before {
  box-shadow: inset 0px 0px 0px 4px #2b363e;
  background-color: white;
}

.write__form__button + label::before, .search__form__button--royalty + label::before{
  background-color: #2b363e;
  border: solid 1px white;
}

.write__form__button + label:focus, .search__form__button--royalty + label:focus{
  margin-top:0;
  top:0;
  padding-top:0;
}
