/* Côté entretien */

.interview__content {
  overflow-y: scroll;
  height: calc(100vh - 47px);
}
.interview__content::-webkit-scrollbar {
  display: block;
}


.interview__content p, .interview__context {
  margin-left: 25px;
  display: inline-block;
  width: calc(100% - 50px);
}

.interview__context {
  margin-left: 50px;
  margin-bottom: 10px;
}

.interview__content span {
  width: 15px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.interview__context, .question__content, .answer__content {
  border-bottom: solid 1px grey;
  padding-bottom: 12px;
}

.question__content, .interview__add__button--question {
  font-family: 'Source-SemiBold';
}

.answer__content, .interview__add__button--answer {
  font-family: 'Source-Light';
}

.interview__context, .interview__add__button--context {
  font-family: 'Source-LightItalic';
}

.interview__content {
    overflow-y: scroll;
    height: calc(100vh - 47px);
  }

.interview__content::-webkit-scrollbar {
  display: block;
}


.interview__content p, .interview__context {
  margin-left: 25px;
  display: inline-block;
  width: calc(100% - 50px);
}

.interview__context {
  margin-left: 45px;
}

.interview__content span {
  width: 15px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}

.interview__context, .question__content, .answer__content {
  border-bottom: solid 1px grey;
  padding: 12px 0px;
  margin-bottom: 0;
}

.question__content, .interview__add__button--question {
  font-family: 'Source-SemiBold';
}

.answer__content, .interview__add__button--answer {
  font-family: 'Source-Light';
}

.interview__context, .interview__add__button--context {
  font-family: 'Source-LightItalic';
}