/* Côté entretien */

.interview__content {
  overflow-y: scroll;
  height: calc(100vh - 47px);
}
.interview__content::-webkit-scrollbar {
  display: block;
}


.interview__content p, .interview__context {
  margin-left: 25px;
  display: inline-block;
  width: calc(100% - 50px);
}

.interview__context {
  margin-left: 45px;
  margin-bottom: 10px;
}

.interview__content span {
  width: 15px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.interview__context, .question__content, .answer__content {
  border-bottom: solid 1px grey;
  padding-bottom: 12px;
}

.question__content, .interview__add__button--question {
  font-family: 'Source-SemiBold';
}

.answer__content, .interview__add__button--answer {
  font-family: 'Source-Light';
}

.interview__context, .interview__add__button--context {
  font-family: 'Source-LightItalic';
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1.2em;
}

.interview__content {
    overflow-y: scroll;
    height: calc(100vh - 47px);
  }

.interview__content::-webkit-scrollbar {
  display: block;
}


.interview__content p, .interview__context {
  margin-left: 25px;
  display: inline-block;
  width: calc(100% - 50px);
}

.interview__context {
  margin-left: 45px;
}

.interview__content span {
  width: 15px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}

.interview__context, .question__content, .answer__content {
  border-bottom: solid 1px grey;
  padding: 12px 0px;
  margin-bottom: 0;
}

.question__content, .interview__add__button--question {
  font-family: 'Source-SemiBold';
}

.answer__content, .interview__add__button--answer {
  font-family: 'Source-Light';
}

.interview__context, .interview__add__button--context {
  font-family: 'Source-LightItalic';
}