input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1em;
}

.interview__data, .interview__subdata {
  font-size: 1.2em;
  margin: 5px;
}

.interview__subdata {
  padding-left: 15px;
}

.interview__data span {
  margin-right: 3px;
}

.interview__annotation {
  width: 100%;
  height: fit-content;
  background-color: #414a52;
  z-index: 2;
  position: sticky;
  bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  border: solid 1px white;
  font-family: 'Source-LightItalic';
}

/* .interview__annotation p {
  padding-right: 15px;
} */

.interview__annotation__close, .interview__annotation__close:focus {
  background-image: url('../../assets/icons/cross.png');
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
}

.read__tools {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 30px;
  right: 20px;
}

.tools__save--saved {
  background-image: url('../../assets/icons/bookmark-on.png');
}

.tools__save--not-saved {
  background-image: url('../../assets/icons/bookmark.png');
}

.tools__close {
  background-image: url('../../assets/icons/cross.png');
}

.tools__download {
  background-image: url('../../assets/icons/download.png');
  margin-top: -1px;
}

.read__tools button {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 0;
  background-size: contain;
  background-repeat: no-repeat;
  border: none !important;
}

.left__menu--bottom {
  /* 20+75+15 */
  height:calc(100% - 110px);
}

.left__menu--top--closed {
  height: fit-content;
  margin-bottom: 15px;
  padding: 20px;
}

.left__menu--top--closed h2 {
  margin-bottom: 0;
}

.read__categories {
  position: absolute;
  margin-top: 40px;
  margin-left: 5px;
  z-index: 3;
  width: 75%;
  padding: 20px;
  border: solid 0.5px white;
  background-color: #414a52;
}

.tools__modify {
  width: 18px;
  height: 18px;
  background-image: url('./../../assets/icons/pencil.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 5px;
  right: 0;
  border-radius: 0;
  border: 0;
}

.read__tools button, .read__tools button:focus {
  border-radius: 0 !important;
}

.read__savedCategories {
  width: 20px;
  position: absolute;
  right: 20px;
  top: 100px;
  height: fit-content;
}

.read__tags {
  padding: 1px 7px 2px 7px;
  border-radius: 7px;
  border: solid 0.5px white;
  display: inline-block;
}

.tools__quote {
  background-image: url('./../../assets/icons/plus.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.read__quote-menu {
  display: none;
  position: absolute;
  border: solid 1px white;
  width: 90%;
  padding: 20px;
  background-color: #414a52;
  border-radius: 15px;
  text-align:left;
}

.read__quote-menu textarea, .right textarea:-internal-autofill-selected, .right textarea:-webkit-autofill, .right textarea:-webkit-autofill:focus, .right textarea:-webkit-autofill:hover, .right textarea:active, .right textarea:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0px #2b363e inset!important;
  color: white !important;
  border: none;
  padding-bottom: 10px;
  outline: none;
  resize: none;
  height: 20px;
  width: 100%;
  text-align: left;
  text-decoration: underline;
}

.read__quote-menu textarea, .read__quote-menu p {
  display: inline-block;
  height: 20px;
  margin-bottom: 2px;
}

