/* RECHERCHE */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1.2em;
}

.search__form__date {
    margin-top: 13px;
    width: 100%;
    
  }
  
  .date__timeline {
    width: 100%;
    height: 30px;
    position: relative;
    
  }
  
  .timeline__line {
    position: absolute;
    top: 3px;
    height: 2px;
    width: calc(100%-26px);
    margin-left: 13px;
    border-bottom: 1.5px solid white;
  }
  
  .timeline__cursor {
    position: absolute;
    width: 25px;
    height: 30px;
    cursor: grab;
  }
  
  .timeline__cursor__dot {
    margin-left: 12px;
    width: 3px;
    border-radius: 1px;
    height: 10px;
    background-color: white;
  }
  
  .timeline__cursor__date {
    margin-top: 5px;
  }
  
  .timeline__cursor--end {
    left: calc(100% - 30px);
  }

  .timeline__cursor--beginning {
    left: 0;
  }
  
  .search__form__button--submit {
    padding: 2px 14px;
    margin-left: calc(50% - 76px);
    bottom: 25px;
    position: absolute;
    font-size: 1.2em;
  }
  
  
  /* .search__form__button--royalty {
    width: 12px;
    height: 12px;
    padding: 0;
  } */
  
  .search__form--overflow {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    
  }
  
  .search__form__date h4 {
    font-size: 1.2em;
  }
  
  .search__form {
    height:90%;
    
  }
  
  .search__form__input, .search__form__input:-internal-autofill-selected, .search__form__input:focus, .search__form__input:active {
    margin-top: 8px;
    font-size: 1.2em;
    width: 100%;
    /* border-bottom: 0.2px solid lightgray !important; */
  }
  
  .search__form__input--royalty {
    margin-left: 25px;
  }
  
  /* .search__form__input--title, .search__form__input--title:-internal-autofill-selected, .search__form__input--title:focus, .search__form__input--title:active {
    font-family: 'Source-SemiBold' !important;
  } */
  /* 
  .search__form__input--royalty {
    width: fit-content;
    margin-left: 4px;
  }
  
  .search__form__input--royalty {
    width: fit-content;
    margin-left: 4px;
  } */

  .interview__meta {
    
  }

.left__menu--search h2 {
  display: inline-block;
  width: calc(100% - 27px);
}

.search__form__button--empty {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/icons/erase.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0;
  border:none;
  margin-top: 2px;
  vertical-align: top;
}