// WRITE META
.left__menu--write {
  overflow: scroll;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1em;
}
.interview__add {
  margin-left: 45px;
}

.interview__content--write::-webkit-scrollbar {
  display: block;
}

.interview__add__button {
  padding: 1px 15px 2px 15px;
  margin-right: 4px;
}

.write__tools {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 30px;
  right: 20px;
}


.write__tools button {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 0;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.tools__close {
  background-image: url("../../assets/icons/cross.png");
  width: 16px !important;
  height: 16px !important;
  margin-left: 2px;
}

.tools__publish, .tools__unpublish {
  background-image: url("../../assets/icons/export.png");
}

.tools__unpublish {
  transform: rotate(180deg);
}

.tools__delete {
  background-image: url("../../assets/icons/trash.png");
}

.write__form {
  width: calc(100% - 30px);
}

.write__form__input, .write__form__input:focus, .write__form__input:active {
  margin-top: 8px;
  font-size: 1.2em;
  width: 100%;
  /* border-bottom: 0.2px solid lightgray !important; */
}

.write__form__input--title, .write__form__input--title:-internal-autofill-selected, .write__form__input--title:focus, .write__form__input--title:active {
  font-family: 'Source-SemiBold' !important;
}


.write__form__input--royalty {
  margin-left: 25px;
  margin-top: -30px !important;
  padding-top: 0;
}


.write__categories {
  position: relative;
  margin-top: 40px;
  margin-bottom: 15px;
}

.write__category {
  position: relative;
  margin-bottom: 5px;
}

.write__category label, .new-category-name, .new-category-name:focus {
  vertical-align: top;
  position: absolute;
  left: 25px;
  top: -5.5px;
  font-size: 1.2em;
}

.new-category-name, .new-category-name:focus {
  margin-top: 0;
  width: fit-content;
}

.interview__meta {
  overflow: scroll;
  height: 100%;
} 

.category-button--add {
  height:15px;
  width:15px;
  margin-top: -2px;
  border-radius: 50%;
  padding: 0;
  background-image: url('./../../assets/icons/thick-check.png');
  background-size: 7px;
  background-position: center;
  background-repeat: no-repeat;
}

.write__category label, .new-category-name, .new-category-name:focus {
    vertical-align: top;
    position: absolute;
    left: 25px;
    top: -5.5px;
    font-size: 1.2em;
  }
  .interview__meta {
    overflow: scroll;
    // height: 100%;
  } 
  
  .category-button--add {
    height:15px;
    width:15px;
    margin-top: -2px;
    border-radius: 50%;
    padding: 0;
    background-image: url('./../../assets/icons/thick-check.png');
    background-size: 7px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .write__delete-menu, .write__publish-menu, .write__unpublish-menu {
    display: none;
    position: absolute;
    border: solid 1px white;
    width: calc(100% - 75px);
    padding: 20px;
    background-color: #414a52;
    border-radius: 15px;
    text-align: right;
  }

.write__delete-menu p,  .write__publish-menu p, .write__unpublish-menu p {
  text-align:center;
}

.write__delete-menu button,  .write__publish-menu button, .write__unpublish-menu button {
  margin: 15px 10px 0px 0px;
}

.write__form__add-interviewed {
  margin: 15px 0 30px 0;
  margin-left: calc(100% - 153px);
  z-index: auto;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.interviewed-first--notice {
  font-size: 0.7em;
  color: grey;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
}

.write__form__add-infos {
  font-size: 0.7em !important;
  border-color: grey !important;
  color: grey !important;
  text-align: right;
}

.write__form__input--interviewed--email {
  width: calc(100% - 38px) !important;
  display: inline-block;
  vertical-align: top;
}
.write__form__interviewed--number {
  margin-left: 10px;
  width: 13px;
  display: inline-block;
  height: 13px;
  margin-top: 16px;
  vertical-align: top;
}
.write__form__interviewed--delete {
  width: 12px;
  display: inline-block;
  height: 12px;
  background-image: url(../../assets/icons/trash.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none !important;
  margin-top: 20px;
  border-radius: 0 !important;
  vertical-align: top;
}

.write__tools button, .write__tools button:focus, .write__tools button:active, .write__tools button:hover {
  background-color: transparent;
  border: none;
  border-radius: 0 !important;
  outline: none;
  opacity: 0.8;
}
.write__tools button:hover {
  opacity: 1;
}
