input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1em;
}

.left__footer p {
 display: inline-block;
 cursor: pointer;
 opacity: 0.5;
}

.left__footer p:hover {
    opacity: 1;
}

.left__footer p span {
    margin-right: 7px;
}

.right__contact {
    height: calc(100vh - 50px);
    background-color: #414A52;
    border: white 1px solid;
    z-index: 5;
    width: 95%;
    border-radius: 15px 15px 0px 0px;
}

.contact__button {
    background-image: url('./../../assets/icons/cross.png');
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: center;
    height: 2vh;
    padding-left: 10px;
    margin-left: 7px;
    margin-top: 7px;
    margin-right: 4px;
}