input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1em;
}

.left__footer p {
 display: inline-block;
 cursor: pointer;
 opacity: 0.5;
 padding-top: 2px;
}

.left__footer {
  text-align: center;
}

.left__footer p:hover {
    opacity: 1;
}

.left__footer p span {
    margin-right: 7px;
}

.right__contact {
    height: calc(100vh - 50px);
    background-color: #414A52;
    border: white 1px solid;
    z-index: 5;
    width: calc(100% - 40px);
    margin-left: 5px;
    border-radius: 15px 15px 0px 0px;
    padding: 20px 20px 0px 20px;
    margin-top: 110vh;
    position: absolute;
}

.contact__close {
    background-image: url('./../../assets/icons/cross.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 25px;
    width: 25px;
    border: none !important;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
}

.right__contact h5 {
  font-family: 'Source-Regular';
  margin-top: 15px;
}

.right__contact h4 {
  font-family: 'Source-Regular';
  margin-bottom: 0;
}

.contact p {
  margin-top: 20px;
}

.contact {
  margin-bottom: 40px;
}

.contact a, .contact a:hover {
  text-decoration: underline;
}

.legal__mentions {
  height: 100%;
}

.legal__mentions--scroll {
  height: 92%;
  overflow: scroll;
}