.tuto h2 {
  font-family: 'Source-Regular';
  text-align: center;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: right;
}

.tuto {
  opacity: 0.7;
  cursor: default;
}

.tuto__scroll {
  height: calc(100% - 20px);
  overflow: scroll;
}

.tuto em {
  font-size: 0.8em;
  opacity: 0.8;
  line-height: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input, 
input:-internal-autofill-selected,
input:focus, 
input:active {
  outline: none !important;
  border: none !important;
  border-bottom: solid 0.5px grey !important;
  background-color: #2b363e !important;
  background: none;
  color: white !important;
  font-size: 1em;
  // Remove background-color on Chrome when autofill
  -webkit-box-shadow: 0 0 0 30px #2b363e inset !important;
  font-family: 'Source-Light' !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  font-size: 1em;
}

.instructions {
  height: 0px;
  overflow: hidden;
  margin-top: 10px;
}

.instructions--perso {
  height: auto;
  overflow: hidden;
}

.tuto h3 {
  margin-top: 15px;
  font-family: 'Source-Regular';
  font-size: 1.5rem;
  cursor: pointer;
  border-bottom: dashed 1px white;
  padding-bottom: 7px;
}

.tuto p {
  line-height: 1.2rem;
  display: block;
}

.tuto__mode__p {
  line-height: 1.2rem;
}

.tuto {
  overflow: scroll;
  height: calc(100vh - 50px);
  padding: 10px;
}

.tuto span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: none !important;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 9px;
  margin-top: 2px;
  vertical-align: top;
}

.tuto__round {
  border: solid 0.5px white !important;
  border-radius: 50%;
  background-size: 7px !important;
  background-position: center;
}

.tuto__mode {
  width: 20px !important;
  height: 20px !important;
  background-size: 12px !important;
  vertical-align: bottom;
  margin-top: 0 !important;
}

.tuto__content {
  margin-top: 0 !important;
  font-family: 'Source-Bold';
}
.tuto__pencil {
  background-image: url('../../assets/icons/pencil.png');
}
.tuto__plus {
  background-image: url('../../assets/icons/thick-plus.png');
}
.tuto__deroulant {
  background-image: url('../../assets/icons/order.png');
  width: 60px !important;
  height: 20px;
}
.tuto__categoryplus {
  background-image: url('../../assets/icons/thick-plus.png');
}

.tuto__bookmark-save {
  background-image: url('../../assets/icons/bookmark.png');
}
.tuto__download {
  background-image: url('../../assets/icons/download.png');
}

.tuto__trash {
  background-image: url('../../assets/icons/trash.png');
}
.tuto__category {
  background-image: url('../../assets/icons/category.png');
}
.tuto__export {
  background-image: url('../../assets/icons/export.png');
}
.tuto__question {
  background-image: url('../../assets/icons/question.png');
  width: 50px !important;
  height: 20px;
}
.tuto__answer {
  background-image: url('../../assets/icons/answer.png');
  width: 50px !important;
  height: 20px;
}
.tuto__list {
  background-image: url('../../assets/icons/list.png');
}
.tuto__planet {
  background-image: url('../../assets/icons/planet.png');
}
.tuto__clock {
  background-image: url('../../assets/icons/clock.png');
}

.tuto__quote {
  background-image: url('../../assets/icons/quote.png');
}