/* darkgrey : 2b363e */

/* BASE */

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #2b363e;
    font-size: 15px;
    color: white;
    font-family: 'Source-Light';
}

/* HEADER */

.header {
    width: 100%;
    height: 45px;
    border-bottom: solid 1px white;
    padding: 11px 20px;
    box-sizing: border-box;
    font-family: 'AGBM';
    font-size: 1.2em;
}

.header__nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.nav__link {
    display: inline-block;
    width: fit-content;
}

.nav__link a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 3px;
}

.nav__link a:hover {
    font-family: 'AGBHF';
    padding: 0;
}

/* MAIN */

.main {
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
    margin: 0;
}

/* LEFT */

.left {
    padding: 20px;
    box-sizing: border-box;
}

.left__menu {
    height: 96%;
    width: 100%;
    border: solid 1px white;
    border-radius: 20px;
}

.left__footer {
    position: absolute;
    bottom: 0;
    height: 34px;
}

.left__footer a {
    opacity: 0.4;
    text-decoration: none;
    color: white;
}

.left__footer a:hover {
    opacity: 1;
}


/* RIGHT */

.right {
    height: 100%;
    background-color: rgba(255,255,255,0.1);
}

/* FONTS */

@font-face {
    font-family: 'AGBHF';
    src: url(fonts/AGBHF.ttf);
}

@font-face {
    font-family: 'AGBM';
    src: url(fonts/AGBM.ttf);
}

@font-face {
    font-family: 'Source-Light';
    src: url(fonts/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: 'Source-LightItalic';
    src: url(fonts/SourceSansPro-LightItalic.ttf);
}

@font-face {
    font-family: 'Source-Regular';
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Source-Bold';
    src: url(fonts/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: 'Source-SemiBold';
    src: url(fonts/SourceSansPro-Semibold.otf);
}