/* darkgrey : 2b363e */

/* BASE */

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #2b363e;
    font-size: 15px;
    color: white;
    font-family: 'Source-Light';
}

::-webkit-scrollbar {
    display: none;
}

/* Pour afficher une scroll bar :

element::-webkit-scrollbar {
    display: block;
}

*/

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

/* Pour contrer bootstrap */

input, input:-internal-autofill-selected, input:focus, input:active {
    outline: none !important;
    border: none !important;
    border-bottom: solid 1px lightgrey;
    background-color: #2b363e !important;
    color: white !important;
    font-size: 1em;
    font-family: 'Source-Light' !important;
}

button, button:focus, button:active {
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    color: white;
    outline: none;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
    /* background-color: rgba(255,255,255,0.2); */
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

input[type="checkbox"] label {
    display: block;
}

input[type="checkbox"] + label::before {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: block;
    content: "";
    float: left;
    margin-top: 6.5px;
    margin-right: 5px;
    margin-left: -25px;
}

input[type="checkbox"]:checked+label::before {
    /* box-shadow: inset 0px 0px 0px 3px #fff;
    background-color: #2b363e; */
}

/* HEADER */

.header {
    width: 100%;
    height: 45px;
    border-bottom: solid 1px white;
    padding: 11px 20px;
    box-sizing: border-box;
    font-family: 'AGBM';
    font-size: 1.2em;
    background-color: #2b363e;
}

.header__nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.nav__link {
    display: inline-block;
    width: fit-content;
}

.nav__link a {
    color: white;
    text-transform: uppercase;
    padding: 0 3px;
}

.nav__link a:hover {
    font-family: 'AGBHF';
    padding: 0;
}

/* MAIN */

.main {
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
    margin: 0;
}

/* LEFT */

.left {
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.left__menu {
    /* height: calc(96% + 20px); */
    height: 96%;
    width: 100%;
    border: solid 1px white;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #2b363e;
}

.left__footer {
    position: absolute;
    bottom: 0;
    height: 34px;
}

.left__footer a {
    opacity: 0.4;
}

.left__footer a:hover {
    opacity: 1;
}

.left__footer span { 
    margin: 0 4px;
    opacity: 0.4;
    cursor: default;
}

.left__menu h2 {
    font-family: 'Source-SemiBold';
    font-size: 1.3em;
}


/* RIGHT */

.right {
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 15px;
}

/* FONTS */

@font-face {
    font-family: 'AGBHF';
    src: url(fonts/AGBHF.ttf);
}

@font-face {
    font-family: 'AGBM';
    src: url(fonts/AGBM.ttf);
}

@font-face {
    font-family: 'Source-Light';
    src: url(fonts/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: 'Source-LightItalic';
    src: url(fonts/SourceSansPro-LightItalic.ttf);
}

@font-face {
    font-family: 'Source-Regular';
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Source-Bold';
    src: url(fonts/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: 'Source-SemiBold';
    src: url(fonts/SourceSansPro-Regular.ttf);
}

/* LOGIN */

.login__nav {
    position: absolute;
    right: 20px;
    top: 25px;
    text-align: right;
}

.login__nav a {
    display: block;
    font-size: 0.9em;
    line-height: 1.3em;
    width: 100%;
    opacity: 0.6;
}

.login__nav a:hover {
    opacity: 1;
}

.login__form {
    margin-top: 25px;
    font-size: 1.2rem;
}

.login__form__input:focus, .login__form__input {
    width: 100%;
    margin-top: 15px;
    border-bottom: 0.5px solid grey !important;
    background-color: transparent !important;
}

.login__form__button {
    width: fit-content;
    padding: 1px 16px 2px 16px;
    margin-top: 45px;
    margin-left: calc(50% - 40px);
}

.login__form__button--create {
    padding: 1px 14px 3px 14px;
    margin-left: calc(50% - 50px);
}

.login__form__button--forgotten {
    margin-left: calc(50% - 48px);
}

.right__presentation {
    margin-top: 15px;
    font-size: 1.2em;
}

.presentation__title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.presentation__img {
    width: 35%;
    display: inline-block;
    margin: 0 15px 15px 0;
}

/* HOME */

.home__form {
    margin-bottom: 40px;
    position: relative;
}

.home__library {
    position: relative;
}

.home__form__button, .home__form__button:focus {
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url('icons/pencil.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 5px;
    right: 0;
    border-radius: 0;
    border: 0;
}

.home__form__input, .home__name {
    line-height: 1.3em;
}

.home__form__input {
    width: 100%;
    font-size: 1.3em !important;
    margin-top: 0;
    border-bottom: none !important;
}

.home__library h2, .home__library h3, .home__categories h2, .write__categories h2 {
    font-family: 'Source-SemiBold';
    font-size: 1.3em;
    margin-top: 20px;
}

.home__library h2, .home__categories h2, .write__categories h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home__library h3 {
    border-bottom: solid 1px white;
    padding-bottom: 7px;
    width: 100%;
    position: relative;
    margin-top: 15px;
}

.library__new-interview {
    position: absolute;
    right: 2px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    bottom: 10px;
    padding: 0;
    background-image: url("icons/thick-plus.png");
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: center;
}

.home__category--add {
    height:15px;
    width:15px;
    margin-top: 2px;
    border-radius: 50%;
    padding: 0;
    background-image: url('icons/thick-check.png');
    background-size: 7px;
    background-position: center;
    border: solid 1px white;
    background-repeat: no-repeat;
}

.home__library h3 button:hover {
    background-color: rgba(255,255,255,0.3);
}

.library__order, .library__order:focus {
    position: absolute;
    outline: none;
    top: 0;
    right: 0;
    border: solid 1px white;
    border-radius: 20px !important;
    background-color: transparent;
    color: white;
    text-align: center !important;
    width: 90px;
    font-size: 0.9em;
    margin-top: 3px;
}

.list__interview {
    position: relative;
    border-bottom: solid 0.3px grey;
    margin-top: 7px;
}

.list__interview__title {
    font-size: 1em;
    width: calc(100% - 25px);
    opacity: 0.8;
    cursor: pointer;
}

.list__interview__title:hover{
    opacity: 1;
}

.list__interview__categories {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 15px;
    height: fit-content;
}

.list__category {
    position: relative;
    display: block;
    width: 7px;
    height: 7px;
    margin-top: -3px;
    border-radius: 50%;
}

/* .categories__title {
    margin-bottom: 10px;
} */


.list__category--red, input[type="checkbox"].category-span--red + label::before, input[type="checkbox"].category-button--red + label::before {
    background-color: pink;
}

.list__category--blue, input[type="checkbox"].category-span--blue + label::before, input[type="checkbox"].category-button--blue + label::before {
    background-color: skyblue;
}
.list__category--orange, input[type="checkbox"].category-span--orange + label::before, input[type="checkbox"].category-button--orange + label::before {
    background-color: orange;
}

.list__category--green, input[type="checkbox"].category-span--green + label::before, input[type="checkbox"].category-button--green + label::before {
    background-color: greenyellow;
}

input[type="checkbox"]:checked.category-span--red + label::before, input[type="checkbox"].category-button--red + label::before {
    box-shadow: inset 0px 0px 0px 3px pink;
    background-color: #2b363e;
}

input[type="checkbox"]:checked.category-span--blue + label::before, input[type="checkbox"]:checked.category-button--blue + label::before {
    box-shadow: inset 0px 0px 0px 3px skyblue;
    background-color: #2b363e;
}
input[type="checkbox"]:checked.category-span--orange + label::before, input[type="checkbox"]:checked.category-button--orange + label::before {
    box-shadow: inset 0px 0px 0px 3px orange;
    background-color: #2b363e;
}

input[type="checkbox"]:checked.list__category--green + label::before, input[type="checkbox"]:checked.category-span--green + label::before, input[type="checkbox"]:checked.category-button--green + label::before {
    box-shadow: inset 0px 0px 0px 3px greenyellow;
    background-color: #2b363e;
}

/* box-shadow: inset 0px 0px 0px 3px #fff;
    background-color: #2b363e; */

.home__categories {
    position: relative;
    margin-top: 40px;
}

.home__category {
    position: relative;
}

.home__category label, .new-category-name, .new-category-name:focus {
    vertical-align: top;
    position: absolute;
    left: 25px;
    top: -5.5px !important;
    font-size: 1.2em;
}

/* 
TODO : Changer la background-image quand le placeholder est vide 
TEST ICI NE FONCTIONNE PAS
*/

.write__category--add input:placeholder-shown > .category-button--add { 
    background-image: url('icons/thick-plus.png');
}

.home__content {
    overflow-y: scroll;
    height: calc(100% - 50px);
}

/* LECTURE */

/* Côté entretien */

.interview__content {
    overflow-y: scroll;
    height: 100%;
}

.interview__content p, .interview__context {
    margin-left: 25px;
    display: inline-block;
    width: calc(100% - 50px);
}

.interview__context {
    margin-left: 50px;
    margin-bottom: 10px;
}

.interview__content span {
    width: 15px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}

.interview__context, .question__content, .answer__content {
    border-bottom: solid 1px grey;
    padding-bottom: 12px;
}

.question__content, .interview__add__button--question {
    font-family: 'Source-SemiBold';
}

.answer__content, .interview__add__button--answer {
    font-family: 'Source-Light';
}

.interview__context, .interview__add__button--context {
    font-family: 'Source-LightItalic';
}

/* Côté menu */

.interview__data, .interview__subdata {
    font-size: 1.2em;
    margin: 5px;
}

.interview__subdata {
    padding-left: 15px;
}

.interview__data span {
    margin-right: 3px;
}

.interview__annotation {
    width: 100%;
    height: fit-content;
    background-color: #414a52;
    z-index: 2;
    position: sticky;
    bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    border: solid 1px white;
    font-family: 'Source-LightItalic';
}

/* .interview__annotation p {
    padding-right: 15px;
} */

.interview__annotation__close, .interview__annotation__close:focus {
    background-image: url('icons/cross.png');
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
}

.read__tools {
    position: absolute;
    width: 20px;
    height: 80px;
    top: 30px;
    right: 20px;
}

.tools__save {
    background-image: url('icons/save.png');
}

.tools__close {
    background-image: url('icons/cross.png');
}

.tools__download {
    background-image: url('icons/download.png');
    margin-top: -1px;
}

.read__tools button {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 0;
    background-size: contain;
    background-repeat: no-repeat;
    border: none !important;
}

.left__menu--bottom {
    /* 20+75+15 */
    height:calc(100% - 110px);
}

.left__menu--top--closed {
    height: fit-content;
    margin-bottom: 15px;
    padding: 20px;
}

.left__menu--top--closed h2 {
    margin-bottom: 0;
}

/* ECRITURE */

.left__menu--write {
    overflow: scroll;
}

.interview__add {
    margin-left: 50px;
}

.interview__content--write {
    margin-top: 20px;
    height: calc(100% - 47px);
}

.interview__add__button {
    padding: 1px 15px 2px 15px;
    margin-right: 4px;
}

.write__tools {
    position: absolute;
    width: 20px;
    height: 80px;
    top: 30px;
    right: 20px;
}


.write__tools button {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 0;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.tools__close {
    background-image: url("icons/cross.png");
    width: 16px !important;
    height: 16px !important;
    margin-left: 2px;
}

.tools__publish {
    background-image: url("icons/export.png");
}

.tools__delete {
    background-image: url("icons/trash.png");
}

.write__form {
    width: calc(100% - 30px);
}

.write__form__input, .write__form__input:focus, .write__form__input:active {
    margin-top: 8px;
    font-size: 1.2em;
    width: 100%;
    /* border-bottom: 0.2px solid lightgray !important; */
}

.write__form__input--title, .write__form__input--title:-internal-autofill-selected, .write__form__input--title:focus, .write__form__input--title:active {
    font-family: 'Source-SemiBold' !important;
}

.write__form__input--royalty {
    width: fit-content;
    margin-left: 4px;
}


.write__categories {
    position: relative;
    margin-top: 40px;
    margin-bottom: 15px;
}

.write__category {
    position: relative;
    margin-bottom: 5px;
}

.write__category label, .new-category-name, .new-category-name:focus {
    vertical-align: top;
    position: absolute;
    left: 22px;
    top: -5.5px;
    font-size: 1.2em;
}

.new-category-name, .new-category-name:focus {
    margin-top: -3px;
    width: 20vw;
}

.write__form__button, .write__form__button:focus, .write__form__button:active, .write__form__button:hover {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
}

.write__form__button:active {
    opacity: 1;
}

.interview__meta {
    overflow: scroll;
    height: 100%;
} 

.category-button--add {
    height:15px;
    width:15px;
    margin-top: -2px;
    border-radius: 50%;
    padding: 0;
    background-image: url('icons/thick-check.png');
    background-size: 7px;
    background-position: center;
    background-repeat: no-repeat;
}


/* MOBILE & TABLETTES */

@media screen and (max-width: 768px) {

body {
    background-color: #414a52;
    overflow-y: scroll;
}

header {
    position: fixed;
    z-index: 4;
}

.left__menu--top--closed {
    border-radius: 0 0 20px 20px;
    margin-top: 20px;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 3;
    padding: 20px;
}

.left__menu--bottom--closed {
    border-radius: 0 0 20px 20px;
    margin-top: -15px;
    background-color: #414a52;
    z-index: 2;
    position: fixed;
    width: calc(100% - 40px);
    padding: 20px;
}

.left__menu--bottom {
    margin-top: 15px;
    z-index: 2;
}

.left__menu {
    overflow-y: scroll;
}

.right {
    background-color: transparent;
    height: calc(100% - 100px);
}

.left__menu--bottom {
    height:calc(100% - 90px);
}

.left__footer {
    display: none;
}

}

/* RECHERCHE */

.search__form__date {
    margin-top: 13px;
    width: 100%;
}

.date__timeline {
    width: 100%;
    height: 30px;
    position: relative;
    margin-bottom: 15px;
}

.timeline__line {
    position: absolute;
    top: 3px;
    height: 2px;
    width: 100%;
    border-bottom: 1.5px solid white;
}

.timeline__cursor {
    position: absolute;
    width: 25px;
    height: 30px;
    cursor: grab;
}

.timeline__cursor__dot {
    margin-left: 12px;
    width: 3px;
    border-radius: 1px;
    height: 10px;
    background-color: white;
}

.timeline__cursor__date {
    margin-top: 5px;
}

.timeline__cursor--end {
    margin-left: 105px;
}

.search__form__button--submit {
    padding: 2px 14px;
    margin-left: calc(50% - 76px);
    bottom: 25px;
    position: absolute;
    font-size: 1.2em;
}

.search__form__button--royalty {
    width: 12px;
    height: 12px;
    padding: 0;
}

.search__form--overflow {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.search__form__date h4 {
    font-size: 1.2em;
}

.search__form {
    height:90%;
}

.search__form__input, .search__form__input:-internal-autofill-selected, .search__form__input:focus, .search__form__input:active {
    margin-top: 8px;
    font-size: 1.2em;
    width: 100%;
    /* border-bottom: 0.2px solid lightgray !important; */
}

/* .search__form__input--title, .search__form__input--title:-internal-autofill-selected, .search__form__input--title:focus, .search__form__input--title:active {
    font-family: 'Source-SemiBold' !important;
} */

.search__form__input--royalty {
    width: fit-content;
    margin-left: 4px;
}

.search__form__input--royalty {
    width: fit-content;
    margin-left: 4px;
}


/* MODE LISTE */

.result-interview__meta::after, .result-interview__tag::after {
    content: "•";
    font-family: "Source-Light";
    padding-left: 10px;
    font-size: 1em;
}

.result-interview__meta:last-child::after, .result-interview__tag:last-child::after {
    content: "";
    padding-left: 0;
} 

.result-interview {
    width: 100%;
    height: fit-content;
    border: solid 1px white;
    border-radius: 7px;
    padding: 12px;
    margin-bottom: 15px;
}

.result-interview__meta, .result-interview__tag {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 5px;  
    font-size: 1.1em;
    line-height: 1.05em;
}

.result-interview__tag {
    font-family: 'Source-SemiBold';
}

.research__tools {
    height: 40px;
    width: 100%;
}

.research__results {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    padding-top: 10px;
}

.interview__meta {
    height: 100%;
}

/* TOP BARRE */

.research__tools__title {
    font-size: 1.5em;
    font-family: 'Source-SemiBold';
    margin-top: 2px;
}

.research__tools__save--button, .research__tools__save--button:focus {
    width: 20px;
    height: 20px;
    background-image: url('icons/bookmark.png');
    background-size: contain;
    border: none;
    margin-left: 8px;
    border-radius: 0;
    margin-top: 6px;
}

.research__tools * {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
}

.research__tools__save, .research__tools__categories, .research__tools__save--title  {
    border-radius: 0;
    margin-left: 15px;
}

.research__tools__save--title, .research__tools__save--title:focus {
    background-color: transparent !important;
    border-bottom: solid 1px white !important;
    font-size: 1.2em !important;
    height: auto;
    width: 40%;
    margin-top: -3px;
}

.research__tools__modes {
    position: absolute;
    right: 15px;
}

.research__tools__mode--list {
    background-image: url('icons/list.png');
    background-size: 14px;
}

.research__tools__mode--timeline {
    background-image: url('icons/clock.png');
    background-size: contain;
}

.research__tools__mode--map {
    background-image: url('icons/planet.png');
    background-size: contain;
}

.research__tools__mode {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 3px;
    cursor: pointer;
}

.research__tools__mode:hover {
    background-color: rgba(255,255,255,0.1);
}

.research__tools__categories {
    margin-top: -10px;
}

.research__tools__categories label{
    margin-left: 15px;
    padding-top: 8px;
}

.result-timeline__map {
    height: calc(100% - 150px);
    width: 100%;
    position: relative;
}

.result-timeline__map__line {
    width: 100%;
    height: 1px;
    border: solid 1px white;
    position: absolute;
    bottom: 35px;
}

.result-timeline__map__group {
    position: absolute;
    width: 35px;
    height: 100%;
}

.map__group__date {
    position:absolute;
    bottom: 0;
}

.map__group__cursor {
    position: absolute;
    bottom: 30px;
    height: 15px;
    width: 2px;
    margin-left: 13px;
    border-radius: 2px;
    background-color: white;
}

.map__group__dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 4px;
    vertical-align: bottom;
}

.map__group__dot--selected {
    /* background-color: rgba(255,255,255,0.8); */
    background-color: white;
}

.map__group__dot-list {
    position: absolute;
    bottom: 55px;
    margin-left: 3px;
    height: fit-content;
}

.result-timeline__map__line__beginning {
    position: absolute;
    left: 0;
    text-align: left;
    bottom:0;
}

.result-timeline__map__line__end {
    position: absolute;
    right: 15px;
    text-align: right;
    bottom:0;
}

.result-timeline__map__line__beginning .map__group__cursor {
    margin-left:0;
}

.result-timeline__map__line__end .map__group__date {
    margin-left:-14px;
}

.result-timeline__interview {
    position: absolute;
    bottom: 5%;
    width: calc(100% - 30px);
}


/* TEMPORAIRE */

.research__results--list {
    display:none;
}

.research__results--map {
    display:none;
}

